.checkout li {
	list-style-type: none;
	width: 50%;
	display: inline-block;
}
.col-left {
	float: left;
	clear: left;
}
.col-right {
	float: right;
	clear: right;
}
#submit {
	display:;
	position: relative;
}
#shipping-toggle p {
	margin: 0;
}